/*******************************************************************************
*
* @BEGIN
*
* @COPYRIGHT BEGIN
* Copyright (C) 2019 Panos I. Papadopoulos <panos1962_AT_gmail_DOT_com>
* @COPYRIGHT END
*
* @FILETYPE BEGIN
* stylus
* @FILETYPE END
*
* @FILE BEGIN
* www/adiarpt/main.styl —— Αρχείο προδιαγραφών CSS για την εκτύπωση αδειών
* @FILE END
*
* @HISTORY BEGIN
* Created: 2021-06-22
* @HISTORY END
*
* @END
*
*******************************************************************************/

@import '../lib/letrakDebug.css'

#kritiria
	background-color beige

#epikefalida
	background-color teal
	margin 0.1em

#epikefalidaLeft
	background-color red

#plegma
	background-color teal

#adanal
	background-color teal
