/*******************************************************************************
*
* @BEGIN
*
* @COPYRIGHT BEGIN
* Copyright (C) 2019 Panos I. Papadopoulos <panos1962_AT_gmail_DOT_com>
* @COPYRIGHT END
*
* @FILETYPE BEGIN
* stylus
* @FILETYPE END
*
* @FILE BEGIN
* www/adiarpt/mainPrint.styl —— Αρχείο προδιαγραφών CSS για τη σελίδα
* εκτύπωσης δελτίου απόντων και αδειούχων.
* @FILE END
*
* @HISTORY BEGIN
* Created: 2021-06-24
* @HISTORY END
*
* @END
*
*******************************************************************************/

@page
	size A4 landscape
	margin-left 35pt
	margin-right 20pt

html
	background-color #ffffff !important

body
	font-size 10pt
	background-color #ffffff !important

.pnd-ofelimo
	display block
	overflow visible
	background-color #ffffff !important

.noprint
	display none

#epikefalidaLeft
	width: 34em
