/*******************************************************************************
*
* @BEGIN
*
* @COPYRIGHT BEGIN
* Copyright (C) 2019 Panos I. Papadopoulos <panos1962_AT_gmail_DOT_com>
* @COPYRIGHT END
*
* @FILETYPE BEGIN
* css
* @FILETYPE END
*
* @FILE BEGIN
* www/isodos/main.css —— Αρχείο προδιαγραφών CSS για τη σελίδα εισόδου στην
* εφαρμογή ημερήσιων παρουσιολογίων.
* @FILE END
*
* @HISTORY BEGIN
* Created: 2020-04-14
* @HISTORY END
*
* @END
*
*******************************************************************************/

@import '../lib/letrak.styl'

label
	display inline-block
	width 6em

input
	background-color ivory

.pnd-ofelimo
	padding 20px

.inputLine
	padding 4px

.formPanel
	padding 4px

.formPanel > input[type="button"]
	padding 2px 4px
	background-color ivory
	border-radius 4px
	cursor pointer

#login
	width 6em

#sesami
	width 6em
