/*******************************************************************************
*
* @BEGIN
*
* @COPYRIGHT BEGIN
* Copyright (C) 2020 Panos I. Papadopoulos <panos1962_AT_gmail_DOT_com>
* @COPYRIGHT END
*
* @FILETYPE BEGIN
* stylus
* @FILETYPE END
*
* @FILE BEGIN
* www/lib/common.styl —— Προδιαγραφές CSS για την εφαρμογή "letrak"
* @FILE END
*
* @DESCRIPTION BEGIN
* Πρόκειται για CSS προδιαγραφές ή άλλα stylus snippets που είναι χρήσιμα σε
* πολλά CSS ή stylus αρχεία. Το αρχείο δεν χρησιμοποιείται ως αυτόνομο αρχείο
* προδιαγραφών, αλλά συμπεριλαμβάνεται (import) σε άλλα αρχεία stylus.
* @DESCRIPTION END
*
* @HISTORY BEGIN
* Updated: 2020-05-07
* Created: 2020-04-18
* @HISTORY END
*
* @END
*
*******************************************************************************/

$fontNormal = "Roboto", "Trebuchet MS", "Helvetica", sans-serif
$fontSteno = "Roboto Condensed", "Trebuchet MS", "Helvetica", sans-serif

$fontSizeNormal = 18px
$fontSizeInput = 16px

$boldShadow = 0.1px 0px 0px grey, -0.1px 0 0 grey

$pliktroColorHover = khaki
$pliktroBorderColor = #b1b1b1
$pliktroBorderColorHover = #7d7d7d
$pliktroSkia = 0.2px 0.2px 0.4px #888888, -0.2px -0.2px 0.4px #888888;
$pliktroSkiaHover = 0.4px 0.4px 0.8px #888888, -0.4px -0.4px 0.8px #888888;

$imerominiaWidth = 6.6em
$orarioWidth = 6.8em
$kartaWidth = 6em
$excuseWidth = 14em
$adidosWidth = 14em

$ipalilosKodikosWidth = 4em
$ipalilosOnomateponimoWidth = 20em

$deltioKodikosWidth = 4em
$deltioPerigrafiWidth = 38em
