@import '../mnt/pandora/lib/pandora.css'

body
	font-family "Roboto", "Trebuchet MS", "Helvetica", sans-serif
	font-size 18px

textarea, input
	font-size 16px

input
	padding 0 2px
	background-color ivory

label
	display inline-block
	padding-right 8px
	text-align right
	font-style italic

.inputLine
	padding 4px

.formPanel
	margin-top 8px
	padding 4px

.formPanel > input[type="button"]
	margin 2px 8px
	padding 2px 4px
	background-color ivory
	border-radius 4px
	cursor pointer
