/*******************************************************************************
*
* @BEGIN
*
* @COPYRIGHT BEGIN
* Copyright (C) 2020 Panos I. Papadopoulos <panos1962_AT_gmail_DOT_com>
* @COPYRIGHT END
*
* @FILETYPE BEGIN
* stylus
* @FILETYPE END
*
* @FILE BEGIN
* www/lib/letrak.styl —— Προδιαγραφές CSS για την εφαρμογή "letrak"
* @FILE END
*
* @HISTORY BEGIN
* Created: 2020-04-18
* @HISTORY END
*
* @END
*
*******************************************************************************/

@import 'common.styl'

html
	background-color red

body
	font-family $fontNormal
	font-size $fontSizeNormal
	background-color: #fffff0;
	background-color ivory

textarea, input
	font-size $fontSizeInput

input
	padding 2px 2px
	background-color ivory

label
	display inline-block
	padding-right 8px
	text-align right
	font-family $fontSteno
	font-size $fontSizeNormal
	font-style italic

.ipiresiaInput
	width 5em

.toolbarTitlos
	font-weight bold

.toolbarTab
	display inline-block
	padding 0px 4px
	margin 0px 4px
	font-family $fontSteno
	background-color beige

	border-style solid
	border-width 1px
	border-color $pliktroBorderColor
	border-radius 4px
	box-shadow $pliktroSkia

	-webkit-user-select none
	-ms-user-select none
	user-select none

	&:hover
		text-shadow $boldShadow
		background-color $pliktroColorHover
		border-color $pliktroBorderColorHover
		box-shadow $pliktroSkiaHover
		cursor pointer

.toolbarIpalilosKodikos
	display inline-block
	vertical-align bottom
	padding 0px 2px
	font-weight bold

.toolbarIpalilosOnomateponimo
	display inline-block
	vertical-align bottom
	padding 0px 2px

	width 12em
	white-space nowrap
	overflow-x hidden
	text-overflow ellipsis

.ribbonCopyright
	padding 0 4px
	font-family $fontSteno

.inputLine
	padding 4px

.formaPanel
	margin-top 4px
	padding 4px

.formaPliktro
	margin 2px 8px
	padding 0px 4px

	font-family $fontSteno
	font-size 18px
	background-color #fffabc

	border-style solid
	border-width 1px;
	border-color $pliktroBorderColor
	border-radius 4px
	box-shadow $pliktroSkia

	&:hover
		text-shadow $boldShadow
		background-color $pliktroColorHover
		border-color $pliktroBorderColorHover
		box-shadow $pliktroSkiaHover
		cursor pointer
