@import '../mnt/pandora/lib/pandora.css'

body
	font-family "Roboto", "Trebuchet MS", "Helvetica", sans-serif
	font-size 18px

textarea, input
	font-size 16px

input
	padding 0 2px

label
	padding-right 4px
	text-align right
	font-style italic
