/*******************************************************************************
*
* @BEGIN
*
* @COPYRIGHT BEGIN
* Copyright (C) 2019 Panos I. Papadopoulos <panos1962_AT_gmail_DOT_com>
* @COPYRIGHT END
*
* @FILETYPE BEGIN
* stylus
* @FILETYPE END
*
* @FILE BEGIN
* www/deltio/mainDebug.styl —— Debug αρχείο προδιαγραφών CSS για τη
* σελίδα διαχείρισης ημερήσιων παρουσιολογίων.
* @FILE END
*
* @HISTORY BEGIN
* Updated: 2020-04-24
* Created: 2020-04-17
* @HISTORY END
*
* @END
*
*******************************************************************************/

@import '../lib/letrakDebug.css'
