/*******************************************************************************
*
* @BEGIN
*
* @COPYRIGHT BEGIN
* Copyright (C) 2019 Panos I. Papadopoulos <panos1962_AT_gmail_DOT_com>
* @COPYRIGHT END
*
* @FILETYPE BEGIN
* stylus
* @FILETYPE END
*
* @FILE BEGIN
* www/deltio/main.styl —— Αρχείο προδιαγραφών CSS για τη σελίδα
* διαχείρισης ημερήσιων παρουσιολογίων.
* @FILE END
*
* @HISTORY BEGIN
* Updated: 2020-04-24
* Updated: 2020-04-12
* Created: 2020-04-09
* @HISTORY END
*
* @END
*
*******************************************************************************/

@import '../mnt/pandora/lib/common.styl'
@import '../lib/common.styl'

.pnd-ofelimo
	padding 0px

.filtraTabEnabled
	color red

#filtraForma
	label
		width 6em
	input
		font-size $fontSizeInput
	> .letrak-formaPanel
		> input
			font-family $fontSteno
			font-size $fontSizeNormal

.filtraInput
	width 9em

.deltio
	position relative
	padding 2px
	white-space nowrap
	color #333333
	border-style solid
	border-color transparent transparent grey transparent
	border-width 2px
	vendor('user-select', none)
	cursor pointer
	> div
		display inline-block
		padding 0px 4px

.deltioCandi
	color #000000
	text-shadow 0.5px 0px 0px #000000
	background-color #ffc49a

.deltioCandiCandi
	color #000000
	background-color moccasin

.deltioKatastasi
	position absolute
	left 4px
	top -6px
	font-size 24px

.letrak-deltioKatastasiEPIKIROMENO
	font-size 30px
	top -6px
	left 2px
	color green

.deltioKodikos
	width 5em
	text-align right
	font-weight bold

.deltioNova
	position absolute
	bottom -2px
	left 32px
	font-size 28px
	color sienna

.deltioImerominia
	width 5em

.deltioIpiresia
	width 4.5em
	font-family $fontSteno

.deltioProsapo
	position relative
	width 6.8em
	text-align center
	font-family $fontSteno
	letter-spacing -1px
	background-color #ffe999
	&:before
	&:after
		position absolute
		bottom 2px
	&:before
		left 4px
		content '\25b6'
	&:after
		right 4px
		content '\25c0'

.deltioProsapoProselefsi:before
.deltioProsapoProselefsi:after
	color #50a735

.deltioProsapoApoxorisi:before
.deltioProsapoApoxorisi:after
	color #325a7b

.deltioPerigrafi
	width 30em
	font-family $fontSteno
	letter-spacing -1px

.deltioTab
	display none

.deltioTabVisible
	display inline-block

.candiTab
	display none

.candiTabVisible
	display inline-block

.idnacTabHidden
	display none

#klonismosForma
	display none

#klonismosFormaImerominia
	width 7em
