/*******************************************************************************
*
* @BEGIN
*
* @COPYRIGHT BEGIN
* Copyright (C) 2019 Panos I. Papadopoulos <panos1962_AT_gmail_DOT_com>
* @COPYRIGHT END
*
* @FILETYPE BEGIN
* stylus
* @FILETYPE END
*
* @FILE BEGIN
* www/admin/main.styl —— Αρχείο προδιαγραφών CSS για τη βασική σελίδα
* διαχείρισης (admin).
* @FILE END
*
* @HISTORY BEGIN
* Updated: 2022-03-07
* Updated: 2022-03-06
* Created: 2022-03-05
* @HISTORY END
*
* @END
*
*******************************************************************************/

@import '../mnt/pandora/lib/common.styl'
@import '../lib/common.styl'

$onomaWidth = 16em
$emailWidth = 16em

.pnd-ofelimo
	padding 0px

#kritiriaForma
	label
		width 8em
	input
		font-size $fontSizeInput
	> .letrak-formaPanel
		> input
			font-family $fontSteno
			font-size $fontSizeNormal

#kritiriaKarta
	width 5em

#kritiriaKodikos
	width 5em

#kritiriaEponimo
	width $onomaWidth

#kritiriaOnoma
	width $onomaWidth

#kritiriaPatronimo
	width $onomaWidth

#kritiriaIpemail
	width $emailWidth

#kritiriaPremail
	width $emailWidth

#kritiriaImerominia
	width 7em
