/*******************************************************************************
*
* @BEGIN
*
* @COPYRIGHT BEGIN
* Copyright (C) 2019 Panos I. Papadopoulos <panos1962_AT_gmail_DOT_com>
* @COPYRIGHT END
*
* @FILETYPE BEGIN
* stylus
* @FILETYPE END
*
* @FILE BEGIN
* www/deltio/main.styl —— Αρχείο προδιαγραφών CSS για τη σελίδα
* διαχείρισης ημερήσιων παρουσιολογίων.
* @FILE END
*
* @HISTORY BEGIN
* Created: 2024-03-22
* @HISTORY END
*
* @END
*
*******************************************************************************/

@import '../mnt/pandora/lib/common.styl'
@import '../lib/common.styl'

.pnd-ofelimo
	padding 0px

.filtraTabEnabled
	color red

#filtraForma
	label
		width 6em
	input
		font-size $fontSizeInput
	> .letrak-formaPanel
		> input
			font-family $fontSteno
			font-size $fontSizeNormal

.filtraInput
	width 9em

.deltio
	position relative
	padding 2px
	white-space nowrap
	color #333333
	border-style solid
	border-color transparent transparent grey transparent
	border-width 2px
	vendor('user-select', none)
	cursor pointer
	> div
		display inline-block
		padding 0px 4px

.deltioCandi
	color #000000
	text-shadow 0.5px 0px 0px
	background-color #ffc49a

.deltioCandiCandi
	color #000000
	background-color moccasin

.deltioKatastasi
	position absolute
	left 4px
	top -6px
	font-size 24px

.letrak-deltioKatastasiEPIKIROMENO
	font-size 30px
	top -6px
	left 2px
	color green

///////////////////////////////////////////////////////////////////////////////@

// Ακολουθούν κλάσεις που αφορούν στις ενδείξεις υπογραφής του υπαλλήλου που
// τρέχει την εφαρμογή. Αυτές οι ενδείξεις εμφανίζονται ως bullets διαφόρων
// χρωμάτων στο αριστερό μέρος της γραμμής του δελτίου.

$ipografiSkiaXroma1 = #e5e5e5
$ipografiSkiaXroma2 = #9b9b9b
$ipografiSkiaPaxos = 2px

.deltioIpografi
	position absolute
	left 0px
	bottom 5px
	font-size 28px
	text-shadow 1px 1px $ipografiSkiaPaxos $ipografiSkiaXroma2,
		-1px -1px $ipografiSkiaPaxos $ipografiSkiaXroma1,
		1px -1px $ipografiSkiaPaxos $ipografiSkiaXroma2,
		-1px 1px $ipografiSkiaPaxos $ipografiSkiaXroma1

// Αν είναι η σειρά του υπαλλήλου που τρέχει την εφαρμογή να υπογράψει, τότε
// εμφανίζεται κόκκινο bullet.

.deltioIpografi1
	font-weight bold
	color #f51c1c	// κόκκινο

// Αν ο υπάλληλος που τρέχει την εφαρμογή έχει ήδη υπογράψει, τότε εμφανίζεται
// πράσινο bullet.

.deltioIpografi2
	color #75d575	// πράσινο

// Αν ο υπάλληλος που τρέχει την εφαρμογή είναι υπογράφων, αλλά δεν είναι
// ακόμη η σειρά του να υπογράψει, τότε εμφανίζεται κυανό bullet.

.deltioIpografi3
	color #2758e7	// κυανό

///////////////////////////////////////////////////////////////////////////////@

.deltioKodikos
	width 5em
	text-align right
	font-weight bold

.deltioEnarktirio
	position absolute
	bottom -2px
	left 30px
	font-size 28px
	color rgba(0, 42, 255, 0.2)

.deltioImerominia
	width 5em

.deltioImera
	font-family $fontSteno
	width 82px

.deltioIpiresia
	width 4.5em
	font-family $fontSteno

.deltioProsapo
	position relative
	width 6.8em
	text-align center
	font-family $fontSteno
	letter-spacing -1px
	background-color #ffe999
	&:before
	&:after
		position absolute
		bottom 2px
	&:before
		left 4px
		content '\25b6'
	&:after
		right 4px
		content '\25c0'

.deltioProsapoProselefsi:before
.deltioProsapoProselefsi:after
	color #50a735

.deltioProsapoApoxorisi:before
.deltioProsapoApoxorisi:after
	color #325a7b

.deltioProsapoProtipo:before
.deltioProsapoProtipo:after
	color #bb4f00

.deltioPerigrafi
	width 30em
	font-family $fontSteno
	letter-spacing -1px

.deltioTab
	display none

.deltioTabVisible
	display inline-block

.candiTab
	display none

.candiTabVisible
	display inline-block

.idnacTabHidden
	display none

#klonismosForma
	display none

#klonismosFormaImerominia
	width 7em

#reports
	display none
	padding 0px

.reportTab
	padding 2px 4px
	margin 8px 0px 4px 0px
	white-space nowrap
	text-align center

	background-color #f1f1f1
	border-style solid
	border-width 1px
	border-color #929292
	border-radius 4px
	&:hover
		cursor pointer
		text-shadow 1px 0 0
		box-shadow 1px 1px 1px #443232, -1px -1px 1px #e6e6e6
