/*******************************************************************************
*
* @BEGIN
*
* @COPYRIGHT BEGIN
* Copyright (C) 2019 Panos I. Papadopoulos <panos1962_AT_gmail_DOT_com>
* @COPYRIGHT END
*
* @FILETYPE BEGIN
* stylus
* @FILETYPE END
*
* @FILE BEGIN
* www/deltio/main.styl —— Αρχείο προδιαγραφών CSS για τη σελίδα αναζήτησης
* συμβάντων.
* @FILE END
*
* @HISTORY BEGIN
* Created: 2024-03-22
* @HISTORY END
*
* @END
*
*******************************************************************************/

@import '../mnt/pandora/lib/common.styl'
@import '../lib/common.styl'

.pnd-ofelimo
	padding 0px

.filtraTabEnabled
	color red

#kritiriaForma
	label
		width 6em
	input
		font-size $fontSizeInput
	> .letrak-formaPanel
		> input
			font-family $fontSteno
			font-size $fontSizeNormal

.filtraInput
	width 9em
