/*******************************************************************************
*
* @BEGIN
*
* @COPYRIGHT BEGIN
* Copyright (C) 2019 Panos I. Papadopoulos <panos1962_AT_gmail_DOT_com>
* @COPYRIGHT END
*
* @FILETYPE BEGIN
* css
* @FILETYPE END
*
* @FILE BEGIN
* www/main.styl —— Αρχείο προδιαγραφών CSS αρχικής σελίδα εφαρμογής "letrak"
* @FILE END
*
* @HISTORY BEGIN
* Created: 2020-04-20
* @HISTORY END
*
* @END
*
*******************************************************************************/

@import 'lib/common.styl'

#welcome
	display none
	padding-left 20px
	max-width 800px
	text-align justify
	font-family $fontSteno
	font-size 110%

#anonimiXrisi,
#eponimiXrisi
	display none

#readmeToggle
	margin-top 8px
	color dimgray
	font-style italic
	text-decoration underline
	cursor pointer

#readmeToggle:after
	content '…'

#readme
	display none
