/*******************************************************************************
*
* @BEGIN
*
* @COPYRIGHT BEGIN
* Copyright (C) 2019 Panos I. Papadopoulos <panos1962_AT_gmail_DOT_com>
* @COPYRIGHT END
*
* @FILETYPE BEGIN
* stylus
* @FILETYPE END
*
* @FILE BEGIN
* www/imerisio/main.styl —— Αρχείο προδιαγραφών CSS για τη σελίδα
* διαχείρισης ημερήσιων παρουσιολογίων.
* @FILE END
*
* @HISTORY BEGIN
* Updated: 2020-04-24
* Updated: 2020-04-12
* Created: 2020-04-09
* @HISTORY END
*
* @END
*
*******************************************************************************/

@import '../mnt/pandora/lib/common.styl'
@import '../lib/common.styl'

.pnd-ofelimo
	padding 0px

.filtraTabEnabled
	color red

#filtraForma
	label
		width 6em
	input
		font-size $fontSizeInput
	> .letrak-formaPanel
		> input
			font-family $fontSteno
			font-size $fontSizeNormal

.filtraInput
	width 8em

.imerisio
	position relative
	padding 2px
	white-space nowrap
	color #333333
	border-style solid
	border-color transparent transparent grey transparent
	border-width 2px
	vendor('user-select', none)
	cursor pointer
	> div
		display inline-block
		padding 0px 4px

.imerisioCandi
	color #000000
	text-shadow 0.5px 0px 0px #000000
	background-color #ffc49a

.imerisioClosed
	position absolute
	left 4px
	top -6px
	font-size 32px
	color green

.imerisioKodikos
	width 5em
	text-align right
	font-weight bold

.imerisioImerominia
	width 5em

.imerisioIpiresia
	width 4.5em
	font-family $fontSteno

.imerisioTipos
	width 5em
	font-family $fontSteno
	letter-spacing -1px
	background-color #ffe999

.imerisioPerigrafi
	width 30em
	font-family $fontSteno
	letter-spacing -1px

.imerisioClosed
	width 5em

.candiTab
	display none !important

.candiTabVisible
	display inline-block !important

.indacTabHidden
	display none !important
