////////////////////////////////////////////////////////////////////////////////
//
// @BEGIN
//
// @COPYRIGHT BEGIN
// Copyright (C) 2019 Panos I. Papadopoulos <panos1962_AT_gmail_DOT_com>
// @COPYRIGHT END
//
// @FILETYPE BEGIN
// css
// @FILETYPE END
//
// @FILE BEGIN
// www/imerisio/main.css —— Αρχείο προδιαγραφών CSS για την εφαρμογή των
// ημερήσιων παρουσιολογίων.
// @FILE END
//
// @HISTORY BEGIN
// Updated: 2020-04-12
// Created: 2020-04-09
// @HISTORY END
//
// @END
//
////////////////////////////////////////////////////////////////////////////////

@import '../lib/letrak.styl'

html
	background-color ivory

body
	background-color ivory
