/*******************************************************************************
*
* @BEGIN
*
* @COPYRIGHT BEGIN
* Copyright (C) 2019 Panos I. Papadopoulos <panos1962_AT_gmail_DOT_com>
* @COPYRIGHT END
*
* @FILETYPE BEGIN
* css
* @FILETYPE END
*
* @FILE BEGIN
* www/imerisio/main.css —— Αρχείο προδιαγραφών CSS για την εφαρμογή των
* ημερήσιων παρουσιολογίων.
* @FILE END
*
* @HISTORY BEGIN
* Updated: 2020-04-12
* Created: 2020-04-09
* @HISTORY END
*
* @END
*
*******************************************************************************/

@import '../lib/common.styl'

.pnd-ofelimo
	padding 0px

.filtraTabEnabled
	color red

#filtraForma
	label
		width 6em
	input
		font-size $fontSizeInput
	> .letrak-formaPanel
		> input
			font-family $fontSteno
			font-size $fontSizeNormal

.filtraInput
	width 8em

.imerisio
	padding 2px
	white-space nowrap
	color #333333
	border-style none none solid none
	border-color grey
	border-width 1px
	> div
		display inline-block
		padding 0px 4px
	&:hover
		color #000000
		background-color #fff577
		cursor pointer

.imerisioKodikos
	width 5em
	text-align right
	font-weight bold

.imerisioImerominia
	width 5em

.imerisioIpiresia
	width 4.5em
	font-family $fontSteno

.imerisioTipos
	width 5.5em
	font-family $fontSteno

.imerisioPerigrafi
	width 30em
	font-family $fontSteno

.imerisioClosed
	width 5em
