/*******************************************************************************
*
* @BEGIN
*
* @COPYRIGHT BEGIN
* Copyright (C) 2019 Panos I. Papadopoulos <panos1962_AT_gmail_DOT_com>
* @COPYRIGHT END
*
* @FILETYPE BEGIN
* stylus
* @FILETYPE END
*
* @FILE BEGIN
* www/prosopa/main.styl —— Αρχείο προδιαγραφών CSS για τη σελίδα
* εμφάνισης διαφορών παρουσιολογίων
* @FILE END
*
* @HISTORY BEGIN
* Updated: 2022-09-24
* Updated: 2022-09-22
* Created: 2022-09-17
* @HISTORY END
*
* @END
*
*******************************************************************************/

@import '../mnt/pandora/lib/common.styl'
@import '../lib/common.styl'

deltioXroma = #61b5a1

#ektiposi
	display none

.pnd-ofelimo
	padding 0px
	overflow-x hidden

/******************************************************************************/

#deltioArea
	display inline-block
	> div
		display inline-block

.deltio
	margin 2px
	background-color deltioXroma
	border-radius 4px
	> div
		display inline-block
		padding 2px

.deltioKodikos
	&:before
		content '['
		padding-right 2px
	&:after
		content ']'
		padding-left 2px

.deltioImera
	font-weight bold
	&:after
		content ','
		font-weight normal

/******************************************************************************/

.ipalilosArea
	margin 4px
	background-color #d5c494
	border-radius 4px
	cursor crosshair

.ipalilosAreaDone
	background-color #b3a995;

.ipalilos
	margin 4px
	border-radius 4px
	> div
		display inline-block
		padding 2px

.ipalilosKodikos
	&:before
		content '['
		padding-right 2px
	&:after
		content ']'
		padding-left 2px

/******************************************************************************/
