/*******************************************************************************
*
* @BEGIN
*
* @COPYRIGHT BEGIN
* Copyright (C) 2019 Panos I. Papadopoulos <panos1962_AT_gmail_DOT_com>
* @COPYRIGHT END
*
* @FILETYPE BEGIN
* stylus
* @FILETYPE END
*
* @FILE BEGIN
* www/parspec/main.styl —— Αρχείο προδιαγραφών CSS για τη βασική σελίδα
* καθορισμού υπαλλήλου και χρονικού διαστήματος ελέγχου παρουσιών.
* @FILE END
*
* @HISTORY BEGIN
* Created: 2026-01-19
* @HISTORY END
*
* @END
*
*******************************************************************************/

@import '../mnt/pandora/lib/common.styl'
@import '../lib/common.styl'

table, th, td
	padding 0px 0.5em
	border-style solid
	border-width 1px
	border-color #000000
	border-collapse collapse
	font-weight normal

th
	color #666666

tr:nth-child(even)
	background-color: #f9f0cb

tr:nth-child(odd)
	background-color: #fffddd

$onomaWidth = 16em

.pnd-ofelimo
	position relative
	padding 0px

#kritiriaForma
	label
		width 6em
	input
		font-size $fontSizeInput
	> .letrak-formaPanel
		> input
			font-family $fontSteno
			font-size $fontSizeNormal

#kritiriaIpalilos
	width 10em

#kritiriaApo
#kritiriaEos
	width 6em

#ilist
	display none
	position absolute
	padding 10px 0px
	left 500px
	> table
		font-family "Roboto Condensed", "Trebuchet MS", "Helvetica", sans-serif;
		background-color cornsilk
		white-space nowrap

.ilistRow
	cursor pointer

.ilistKodikos
	text-align right
	max-width 3em

.ilistEponimo
	overflow hidden
	width 9em

.ilistOnoma
	width 6em

.ilistPatronimo
	width 2em

.candiRow
	background-color #ffed8c !important
	color #004678
	text-shadow 1px 0px 0px

#ilist
	font-size 90%
