/*******************************************************************************
*
* @BEGIN
*
* @COPYRIGHT BEGIN
* Copyright (C) 2019 Panos I. Papadopoulos <panos1962_AT_gmail_DOT_com>
* @COPYRIGHT END
*
* @FILETYPE BEGIN
* stylus
* @FILETYPE END
*
* @FILE BEGIN
* www/prosopa/main.styl —— Αρχείο προδιαγραφών CSS για τη σελίδα
* επεξεργασίας παρουσιολογίου.
* @FILE END
*
* @HISTORY BEGIN
* Updated: 2025-04-23
* Updated: 2025-04-17
* Updated: 2025-01-08
* Updated: 2023-10-15
* Updated: 2023-10-13
* Updated: 2022-03-13
* Updated: 2022-03-11
* Updated: 2021-05-13
* Updated: 2021-03-02
* Updated: 2021-02-25
* Updated: 2020-07-05
* Updated: 2020-06-11
* Updated: 2020-06-10
* Updated: 2020-06-08
* Updated: 2020-06-07
* Updated: 2020-06-04
* Updated: 2020-05-17
* Updated: 2020-05-16
* Updated: 2020-05-09
* Updated: 2020-04-26
* Created: 2020-04-24
* @HISTORY END
*
* @END
*
*******************************************************************************/

@import '../mnt/pandora/lib/common.styl'
@import '../lib/common.styl'

$emfanesOrio = #806312
$checkSize = 32px
$ordinalWidth = 2.2em

#ektiposi
	display none

.pnd-ofelimo
	padding 0px
	overflow-x hidden

.prosopaPliktroUpdate
	display none

.deltioArea
	background-color #ffe290
	border-style double none none none
	border-width 3px 0px 0px 0px
	border-color grey
	vendor('user-select', none)

.deltio
	position relative
	padding 4px
	font-weight bold
	color #252525
	> div
		display inline-block
		margin-right 8px

.deltioKatastasi
	position absolute
	left 8px
	top -6px
	font-size $checkSize
	font-weight normal

.deltioKodikos
	margin-left 40px

.deltioKodikos::after
	content '.'
	margin-right 2px

.deltioIpiresia
	padding-left 4px
	padding-right 4px
	color grey
	background-color beige
	border-style solid
	border-width 1px
	border-radius 4px

.deltioIpiresiaUpdate
	color #263288
	background-color #f2ffd4

.deltioProsapo
	padding-left 4px
	padding-right 4px
	font-weight bold
	border-style solid
	border-width 1px
	border-radius 4px
	color #735d0b
	background-color #f6ffaf

.deltioProsapoProselefsi
	background-color yellow !important
	color midnightblue !important

.deltioProsapoApoxorisi
	background-color midnightblue !important
	color yellow !important

.browser
	border-style double none none none
	border-width 3px 0px 0px 0px
	border-color grey

.browserEmfanesOrio
	border-color $emfanesOrio

.parousia
	padding 0pt
	height 20pt
	white-space nowrap
	font-family $fontSteno
	color #232323
	border-style none none solid none
	border-width 0pt 0pt 2pt 0pt
	border-color grey
	vendor('user-select', none)
	cursor pointer
	> div
		display inline-block
		padding 2px 4px
		vertical-align top
		overflow-x hidden
		text-overflow ellipsis

		border-style none solid none none
		border-width 0pt 1pt 0pt 0pt
		border-color grey
		&::before
			content '\200B'

.parousia:nth-child(odd)
	background-color $zebraOdd

.parousia:nth-child(even)
	background-color $zebraEven

/*
** Ο χρήστης μπορεί να επιλέγει συγκεκριμένες παρουσίες (πρόσωπα) για να
** κάνει κάτι με αυτά (διαγραφή κλπ). Η επιλογή/αποεπιλογή γίνεται με κλικ
** στον αύξοντα αριθμό της γραμμής παρουσίας. Δεν είναι κάτι που αντανακλά
** στη βάση δεδομένων, αφορά απλώς στο τρέχουσα συνεδρία του χρήστη (session).
** Οι επιλεγμένες παρουσίες διακρίνονται με κόκκινο χρώμα στο κελί τού
** αύξοντα αριθμού. Ο χρήστης μπορεί να κάνει μαζική επιλογή/αποεπιλογή
** κάνοντας κλικ με πατημένο το πλήκτρο Shift.
*/

.parousiaEpilogi
	background-color red !important

/*
** Σε περίπτωση που έχει καθοριστεί ΚΑΙ άδεια ΚΑΙ χτύπημα κάρτας, η εγγραφή
** παρουσιάζεται με άλλο χρώμα προκειμένου να τραβήξει την προσοχή τού χρήστη.
*/

.parousiaAdiaAndMeraora:nth-child(odd)
.parousiaAdiaAndMeraora:nth-child(even)
	background-color #fde9e1

/*
** Η κλάση "parousiaTarget" δίνει έμφαση στην τρέχουσα εγγραφή παρουσίας.
*/

.parousiaTarget:nth-child(odd)
.parousiaTarget:nth-child(even)
	background-color #ffeb00

.parousiaOrdinal
	width $ordinalWidth
	text-align right
	color saddlebrown

.parousiaIpalilos
	width 3.5em
	text-align right

.parousiaOnomateponimo
	width 16em
	overflow-x hidden
	text-overflow ellipsis

.parousiaKarta
	width 3.5em
	text-align right

.parousiaOrario
	width 5em

.parousiaMeraora
	position relative
	text-align right
	width 7.2em

.parousiaMeraoraProvlima
	background-color #ff9191

.parousiaMeraoraPiragmeno
	position absolute
	bottom 0
	left 0
	color red

.parousiaIsozigio
	width 4em
	text-align center
	color #708c3f

.parousiaIsozigioPleonasma
	color #006f00

.parousiaIsozigioElima
	color #ce0000

.parousiaExcuse
	width 10em
	text-align right
	text-shadow 1px 0 0 #888888

.parousiaInfo
	border-style none !important

.tabActive
	color red

.ipografesAreaHidden
	display none

.ipografesPanel
	padding 0px 0px 4px 0px

.ipografiPliktroNoCandi
	display none

.ipografes
	overflow hidden

.ipografi
	position relative
	padding 0px
	height 20pt
	white-space nowrap
	font-family $fontSteno
	color #3e2800
	background-color #dedc98
	border-style solid none none none
	border-width 1px 0px 0px 0px
	border-color $emfanesOrio
	vendor('user-select', none)
	cursor pointer
	> div
		display inline-block
		padding 2px 4px
		vertical-align top
		overflow-x hidden
		text-overflow ellipsis

		border-style none solid none none
		border-width 0px 1px 0px 0px
		border-color $emfanesOrio
		&::before
			content '\200B'

.ipografiCandi
	color #000000
	text-shadow 0.5px 0px 0px #000000
	background-color #adddf9

.ipografiTaxinomisi
	width $ordinalWidth
	text-align right
	color #14440c

.ipografiArmodios
	width 3.5em
	text-align right

.ipografiOnomateponimo
	width 16em
	overflow-x hidden
	text-overflow ellipsis

.ipografiTitlos
	overflow-x hidden
	border-style none !important

.ipografiCheckok
	position absolute
	top -8px
	left 4px
	font-size $checkSize
	color green
	border-style none !important

#ipografiForma
	label
		width 4em

#ipografiFormaTaxinomisi
	width 2em

#ipografiFormaArmodios
	width 4em

#ipografiFormaTitlos
	width 40em

.formaInputLine
	padding 2px

.orarioPedio
	width $orarioWidth

#parousiaEditor
	position relative
	display none
	padding 2px
	background-color #fff7df
	& input
	& textarea
		resize none
		background-color #ffffff
	& input:disabled
	& textarea:disabled
		color black
		background-color #ffffe6
		cursor not-allowed
	> .peFormaEnotita
		margin 6px 0px
		border-style none none solid solid
		border-width 1px;
		border-color #d8d8d8
		> .formaInputLine
			> label:first-of-type
				vertical-align top
				width 120px

#peDeltioKodikos
	width $deltioKodikosWidth

#peDeltioPerigrafi
	width 461px

#peDeltioImerominia
	width 18em

#peDeltioProsapo
	display inline-block
	padding 2px 4px
	font-weight normal
	text-shadow 1px 0px 0px

#peDeltioIpiresia
#peDeltioDief
	overflow hidden
	text-overflow ellipsis

#peIpalilosKodikos
	width $ipalilosKodikosWidth

#peIpalilosOnomateponimo
	width 463px
	text-shadow 1px 0 0
	color #0e3450 !important
	background-color #ffeba3 !important

#peIpalilosKarta
	width 4em

#peKatagrafiPliktro
#peApoOrarioPliktro
#peKatharismosPliktro
#peIpoptoPliktro
#peVardiaPliktro
#peClearExeresiPliktro
	display inline-block
	padding 2px 5px
	margin 0px 6px
	white-space nowrap
	vendor('user-select', none)
	font-style normal
	background-color #f3f2cd
	border-style solid
	border-width 1px
	border-radius 2px
	&:hover
		cursor pointer
		background-color lightyellow
		text-shadow 0.5px 0px 0px
		box-shadow 1px 1px 2px #888888, -1px -1px 2px #888888

#peApoOrarioPliktro
#peKatharismosPliktro
#peVardiaPliktro
#peClearExeresiPliktro
	&:hover
		color #0300ab
		background-color yellow
		border-color #0300ab

#peApoOrarioPliktro
#peKatharismosPliktro
	position absolute
	right 0px

#peKatagrafi
	display inline-block
	position absolute
	bottom 0px
	right 4px
	width 185px
	min-height: 163px;
	max-height: 253px;
	overflow-y: scroll;
	visibility hidden
	background-color #fffed9
	border-style solid none none none
	border-width 1px
	border-color grey
	border-radius 2px
	> div
		padding 3px 0px
		text-align center
		border-style none solid solid solid
		border-width 1px
		border-color grey
		border-radius 2px
		&:hover
			cursor pointer
			text-shadow 1px 0px 0px
			background-color #fffdb5

.peKatagrafiNoEvent
	color red

#peMeraora
	width 10em

#peIsozigio
	display inline-block
	width auto
	padding 0 4px
	margin-left 8px
	font-size 18px
	background-color #feffb9
	border-style solid
	border-color #000000
	border-width 1px
	border-radius 4px

#peAdidos
	width $adidosWidth

.peAdidosOmadaKanoniki
	background-color ivory
	background-color lemonchiffon
	color black

.peAdidosOmadaIgia
	background-color #ffe7b0
	color #a00000

.peAdidosOmadaGoniki
	background-color #cef1f5
	color #003b5f

.peAdidosOmadaRepo
	background-color #b6e8ba
	color #034f92

.peAdidosOmadaIdiki
	background-color #f3e5c8
	color #67440d

.peAdidosOmadaAtono
	background-color #dadada
	color #484a4c

#peAdapo
#peAdeos
	width $imerominiaWidth

#peExcuse
	width $excuseWidth

#peDeltioIpiresia
#peDeltioDief
	width 545px

#peInfo
	width 551px

.pePliktro
	padding 2px 6px
	background-color beige !important

#peIpalilosZoom
	display none
	position absolute
	top 140px
	left 250px

	width 644px
	overflow-x hidden
	height 220px
	overflow-y scroll
	white-space nowrap

	background-color #ffe19e

	border-style solid
	border-width 1px
	border-color grey
	box-shadow 2px 2px 4px #888888

.ipalilosZoom
	padding 2px
	border-style none none solid none
	border-width 1px
	border-color #a7892d
	cursor pointer
	> div
		display inline-block

.ipalilosZoomZebra0
	background-color #f5d286

.ipalilosZoomZebra1
	background-color #eccf8a

.ipalilosZoomKodikos
	width 4em

.ipalilosZoomOnomateponimo
	width 28em

.ipalilosZoomEpilogi
	background-color teal

#peAlagiOkIndicator
	opacity 0
	position absolute
	bottom 45px
	left 50px
	padding 0px 2px

	font-size 20px
	font-weight bold
	text-shadow 1px 1px 1px #0b0c17
	color yellow
	background-color green

	border-style solid
	border-width 2px
	border-color #e89100
	border-radius 4px

#ergalia
	display none
	padding 0px
	min-height 0 !important
	vendor('user-select', none)

.ergalioTab
	padding 2px 4px
	margin 8px 0px 4px 0px
	text-align center

	background-color #f1f1f1
	border-style solid
	border-width 1px
	border-color #929292
	border-radius 4px
	&:hover
		cursor pointer
		text-shadow 1px 0 0
		box-shadow 1px 1px 1px #443232, -1px -1px 1px #e6e6e6

#protipoMetatropi
	display none

#protipo
	display none
	position relative
	padding 2px
	> .formaInputLine
		> label
			width 84px

#protipoEnimerotiko
	width 686px
	margin 8px 0px
	padding 4px 8px
	text-align justify

	color #b70000
	background-color #ffff9c

	border-style solid
	border-width 1px
	border-color black
	border-radius 4px

#protipoPerigrafi
	width 600px

#protipoPanel
	padding 8px 0 0 0

.protipoPliktro
	padding 2px 6px
	background-color beige !important

#protipoOrarioInfo
	display inline-block
	font-style italic
	color grey

#protipoOrarioInfo::before
	content '['
	margin-right 2px
	font-style normal
	color black

#protipoOrarioInfo::after
	content ']'
	margin-left 2px
	font-style normal
	color black

#orariaDiagrafiForma
	display none

/*
Η εκτύπωση ημερήσιου δελτίου παρέχεται μόνο από στα δελτία αποχώρησης.
Παλαιότερα μπορούσε να εκτυπωθεί ημερήσιο δελτίο και από το δελτίο
προσέλευσης, αλλά προέκυψαν διάφορα θέματα με τις κυρώσεις και τις
υπογραφές, οπότε κρίθηκε ασφαλέστερο να εκτυπώνεται το ημερήσιο δελτίο
από το δελτίο αποχώρησης.
*/

#deltioImerisio
	display none

#filtra
	display none
	vendor('user-select', none)

.mazi
	display inline-block
	white-space nowrap
/*
Ακολουθούν προδιαγραφές για το σκέλος επιλογής ωραρίου. Η προσθήκη έγινε με
αφορμή την ένταξη των ΚΕΠ στο σύστημα ηλεκτρονικών παρουσιολογίων. Πράγματι,
στα ΚΕΠ οι περισσότεροι υπάλληλοι αλλάζουν ωράριο σχεδόν καθημερινά. Αυτό έχει
ως αποτέλεσμα την επιβάρυνση του χρήστη με επιπλέον επίπονη πληκτρολόγηση
ωραρίων. Οι παρακάτω δομές διευκολύνουν τον χρήστη στην επιλογή ωραρίου για
κάθε υπάλληλο, προτείνοντας ωράρια που έχουν πληκτρολογηθεί για τον υπάλληλο
στο παρελθόν.

[ Πάνος Παπαδόπουλος, Οκτώβριος 2023 ]
*/

#orarioEpilogi {
	display: none;

	position: absolute;
	top: 162px;
	left: 266px;

	padding: 4px;
	max-height: 200px;
	overflow-y: hidden;

	border-style: solid;
	border-color: #000000;
	border-width: 1px;
	border-radius: 4px;
	box-shadow: 2px 2px 8px #888;

	background-color: #fff8d1;
}

.orarioItem {
	margin: 2px 1px;
	padding: 2px;
}

.orarioItem:hover {
	background-color: #dfe7c0;
	text-shadow: 0px 1px 0px #000000;
}

.orarioItemOrario {
	display: inline;
}

.orarioItemOrario:hover {
	cursor: pointer;
}

.orarioItemDelete {
	display: inline;
	margin: 0 0 0 1em;
	width: 1em;
	opacity: 0.2;
}

.orarioItemDelete:hover {
	opacity: 1;
	cursor: pointer;
}

.pnd-ribbon {
	position: relative;
}

#economy {
	position: ablsoute;
	top: 0;
	left: 0;
}

.parousiaIpalilosEconomy {
	width: 2.4em;
	letter-spacing: -0.05em;
}

.parousiaOnomateponimoEconomy {
	width: 9em;
	letter-spacing: -0.05em;
}

.parousiaExcuseEconomy {
	width: 6em;
	letter-spacing: -0.05em;
}

.parousiaInfoEconomy {
	padding: 4px 4px !important;
	font-size: 90%;
	letter-spacing: -0.08em;
}
