/*******************************************************************************
*
* @BEGIN
*
* @COPYRIGHT BEGIN
* Copyright (C) 2019 Panos I. Papadopoulos <panos1962_AT_gmail_DOT_com>
* @COPYRIGHT END
*
* @FILETYPE BEGIN
* stylus
* @FILETYPE END
*
* @FILE BEGIN
* www/prosopa/mainPrint.styl —— Αρχείο προδιαγραφών CSS για τη σελίδα
* εκτύπωσης δελτίου προσέλευσης/αποχώρησης ή δελτίου απόντων.
* @FILE END
*
* @HISTORY BEGIN
* Updated: 2022-10-09
* Updated: 2022-10-04
* Updated: 2022-03-31
* Updated: 2021-02-25
* Updated: 2020-08-06
* Updated: 2020-07-01
* Updated: 2020-06-26
* Updated: 2020-06-25
* Updated: 2020-06-24
* Updated: 2020-06-22
* Created: 2020-06-21
* @HISTORY END
*
* @END
*
*******************************************************************************/

@page
	size A4 landscape
	margin-left 50px
	margin-right 28px

html
	background-color #ffffff !important

body
	font-size 13px
	background-color #ffffff !important

// Για τους διαλόγους

body > div
	display none

#ektiposi
	display block
	background-color #ffffff !important

.deltio
	display flex
	justify-content space-between
	align-items center
	padding 13px 0px 13px 0px

.deltioAristera
	width 33%

.deltioDimos
	display inline-block
	border-style none none solid none
	border-width 1px
	border-color #000000

.deltioIpiresia
	display inline-block

.deltioKentro
	width 33%
	text-align center

.deltioIdos
	margin-bottom 3px
	text-decoration underline

.deltioPerigrafi
	display inline-block
	font-weight bold

.deltioDexia
	width 33%
	text-align right

.deltioImerominia
	font-style italic
	font-weight bold

.parousia
	border-style none none none solid
	border-width 1px
	border-color #000000
	>div
		display table-cell
		vertical-align top
		padding 0px 6px

		border-style solid solid none none
		border-width 1px
		border-color #000000

		&:before
			content '\200B'

.parousiaLast
	border-style solid none none solid

hard_width(args)
	width args
	min-width args
	max-width args

.parousiaOrdinal
	hard_width(28px)
	text-align right

.parousiaIpalilos
	hard_width(48px)
	text-align right

.parousiaOnomateponimo
	hard_width(223px)

.parousiaImerisioOnomateponimo
	hard_width(266px)

.parousiaOrario
	hard_width(77px)

.parousiaKarta
	hard_width(51px)
	text-align center

.parousiaMeraora
	hard_width(111px)

.parousiaMeraoraDeltio

.parousiaMeraoraApontes
	display none !important

.parousiaMeraoraImerisio

.parousiaImerisioProsapo
	hard_width(243.5px)

.parousiaImerisioExcuse
	hard_width(220px)
	text-align left

.parousiaImerisioAdia
	hard_width(500.5px);
	text-align left

.parousiaImerisioIsozigio
	hard_width(57px)
	text-align center

.parousiaExcuse
	hard_width(128px)
	text-align center
	letter-spacing -0.7px

.parousiaInfo
	hard_width(373px)
	white-space normal !important
	text-align left
	overflow-x visible !important
	text-overflow initial !important

.parousiaInfoDeltio

.parousiaInfoApontes
	hard_width(500px !important)

.parousiaInfoImerisio

.parousiaWrapper
	display inline-block

.parousiaAdiaAndMeraora
	background-color transparent

.ipografes
	border-style solid none none none
	border-width 1px
	border-color #000000
	hard_width(1120px !important)

.ipografi
	display inline-block
	vertical-align top
	margin-top 14px
	width 50%
	text-align center

.ipografiKatastasi
	margin-bottom 14px

.ipografiKirosi
	display inline-block
	font-style italic
	border-style none none solid none
	border-width 1px
	border-color #000000

.ipografiKirosi:before
	content 'Ελέγχθηκε και κυρώθηκε '

.ipografiAnamoni:before
	//content '\2733\0020ΑΝΑΜΕΝΕΤΑΙ ΕΛΕΓΧΟΣ & ΚΥΡΩΣΗ\0020\2733'
	content ''
	font-weight bold

.ipografiTitlos
	font-style italic

.ipografiOnomateponimo
	font-weight bold
	padding-top 43px
