/*******************************************************************************
*
* @BEGIN
*
* @COPYRIGHT BEGIN
* Copyright (C) 2019 Panos I. Papadopoulos <panos1962_AT_gmail_DOT_com>
* @COPYRIGHT END
*
* @FILETYPE BEGIN
* stylus
* @FILETYPE END
*
* @FILE BEGIN
* www/prosopa/main.styl —— Αρχείο προδιαγραφών CSS για τη σελίδα
* επεξεργασίας παρουσιολογίου.
* @FILE END
*
* @HISTORY BEGIN
* Updated: 2020-04-26
* Created: 2020-04-24
* @HISTORY END
*
* @END
*
*******************************************************************************/

@import '../mnt/pandora/lib/common.styl'
@import '../lib/common.styl'

$emfanesOrio = #806312
$checkSize = 32px

.pnd-ofelimo
	padding 0px

.imerisioArea
	background-color #ffe290
	border-style double none none none
	border-width 3px 0px 0px 0px
	border-color grey
	vendor('user-select', none)

.imerisio
	position relative
	padding 4px
	font-weight bold
	color #252525
	> div
		display inline-block
		margin-right 8px

.imerisioKatastasi
	position absolute
	left 8px
	top -6px
	font-size $checkSize
	font-weight normal
	color red

.imerisioKatastasiNeo
	color grey

.imerisioKatastasiEkremes
	color #ff7700

.imerisioKatastasiReady
	color green

.imerisioKatastasiClosed
	color green

.imerisioKodikos
	margin-left 40px

.imerisioKodikos::after
	content '.'
	margin-right 2px

.imerisioIpiresia
	padding-left 4px
	padding-right 4px
	color grey
	background-color beige
	border-style solid
	border-width 1px
	border-radius 4px

.imerisioIpiresiaUpdate
	color #263288
	background-color #f2ffd4

.imerisioProsapo
	padding-left 4px
	padding-right 4px
	font-weight bold
	border-style solid
	border-width 1px
	border-radius 4px

.imerisioProsapoProselefsi
	background-color yellow
	color midnightblue

.imerisioProsapoApoxorisi
	background-color midnightblue
	color yellow

.browser
	border-style double none none none
	border-width 3px 0px 0px 0px
	border-color grey

.browserEmfanesOrio
	border-color $emfanesOrio

.parousia
	padding 0px
	white-space nowrap
	font-family $fontSteno
	color #232323
	border-style none none solid none
	border-width 0px 0px 2px 0px
	border-color grey
	vendor('user-select', none)
	cursor pointer
	> div
		display inline-block
		padding 2px 4px

		border-style none solid none none
		border-width 0px 1px 0px 0px
		border-color grey
		&::before
			content '\200B'

.parousiaOrdinal
	width 3em
	text-align right
	color saddlebrown

.parousiaIpalilos
	width 3.5em
	text-align right

.parousiaOnomateponimo
	width 16em
	vertical-align bottom
	overflow-x hidden
	text-overflow ellipsis

.parousiaKarta
	width 3.5em
	text-align right

.parousiaOrario
	width 5em

.parousiaMeraora
	width 7em

.parousiaExcuse
	width 6em

.parousiaInfo
	border-style none !important

.ipografiTabHide
	color red

.ipografesAreaHidden
	display none

.ipografesPanel
	padding 0px 0px 4px 0px

.ipografiPliktroNoCandi
	display none

.ipografes
	overflow hidden

.ipografi
	position relative
	padding 0px
	white-space nowrap
	font-family $fontSteno
	color #3e2800
	background-color #dedc98
	border-style solid none none none
	border-width 2px 0px 0px 0px
	border-color $emfanesOrio
	vendor('user-select', none)
	cursor pointer
	> div
		display inline-block
		padding 2px 4px

		border-style none solid none none
		border-width 0px 1px 0px 0px
		border-color $emfanesOrio
		&::before
			content '\200B'

.ipografiCandi
	color #000000
	text-shadow 0.5px 0px 0px #000000
	background-color #adddf9
	

.ipografiTaxinomisi
	width 3em
	text-align right
	color #14440c

.ipografiArmodios
	width 3.5em
	text-align right

.ipografiOnomateponimo
	width 16em
	vertical-align bottom
	overflow-x hidden
	text-overflow ellipsis

.ipografiTitlos
	vertical-align bottom
	overflow-x hidden
	border-style none !important

.ipografiCheckok
	position absolute
	top -8px
	left 4px
	font-size $checkSize
	color green
	border-style none !important

#ipografiForma
	label
		width 4em

#ipografiFormaTaxinomisi
	width 2em

#ipografiFormaArmodios
	width 4em

#ipografiFormaTitlos
	width 40em
