/*******************************************************************************
*
* @BEGIN
*
* @COPYRIGHT BEGIN
* Copyright (C) 2019 Panos I. Papadopoulos <panos1962_AT_gmail_DOT_com>
* @COPYRIGHT END
*
* @FILETYPE BEGIN
* stylus
* @FILETYPE END
*
* @FILE BEGIN
* www/prosopa/mainPrint.styl —— Αρχείο προδιαγραφών CSS για τη σελίδα
* εκτύπωσης δελτίου προσέλευσης/αποχώρησης ή δελτίου απόντων.
* @FILE END
*
* @HISTORY BEGIN
* Updated: 2020-06-26
* Updated: 2020-06-25
* Updated: 2020-06-24
* Updated: 2020-06-22
* Created: 2020-06-21
* @HISTORY END
*
* @END
*
*******************************************************************************/

@page
	size A4 landscape
	margin-left 35pt
	margin-right 20pt

html
	background-color #ffffff !important

body
	font-size 10pt
	background-color #ffffff !important

// Για τους διαλόγους

body > div
	display none

#ektiposi
	display block
	background-color #ffffff !important

.deltio
	display flex
	justify-content space-between
	align-items center
	padding 10pt 0pt 10pt 0pt

.deltioAristera
	width 33%

.deltioDimos
	display inline-block
	border-style none none solid none
	border-width 1pt
	border-color #000000

.deltioIpiresia
	display inline-block

.deltioKentro
	width 33%
	text-align center

.deltioIdos
	margin-bottom 2pt
	text-decoration underline

.deltioPerigrafi
	display inline-block
	font-weight bold

.deltioDexia
	width 33%
	text-align right

.deltioImerominia
	font-style italic
	font-weight bold

.parousia
	border-style none none none solid
	border-width 0.1pt
	border-color #000000
	>div
		display table-cell
		vertical-align top
		padding 0pt 6pt

		white-space nowrap
		overflow hidden
		text-overflow ellipsis

		border-style solid solid none none
		border-width 0.1pt
		border-color #000000

		&:before
			content '\200B'

.parousiaLast
	border-style solid none none solid

hard_width(args)
	width args
	min-width args
	max-width args

.parousiaOrdinal
	hard_width(20pt)
	text-align right

.parousiaIpalilos
	hard_width(34pt)
	text-align right

.parousiaOnomateponimo
	hard_width(156pt)

.parousiaOrario
	hard_width(54pt)

.parousiaMeraora
	hard_width(78pt)

.parousiaMeraoraApontes
	display none !important

.parousiaImerisioProsapo
	hard_width(80pt)
	border-style solid none none none !important

.parousiaImerisioExcuse
	hard_width(132.5pt)
	text-align center

.parousiaImerisioAdia
	hard_width(278pt);
	text-align center

.parousiaImerisioIsozigio
	hard_width(40pt)
	text-align center

.parousiaExcuse
	hard_width(90pt)
	text-align center
	letter-spacing -0.5pt

.parousiaInfo
	hard_width(261pt)
	white-space normal !important
	text-align left
	overflow-x visible !important
	text-overflow initial !important

.parousiaInfoApontes
	hard_width(350pt)

.parousiaWrapper
	display inline-block

.ipografes
	border-style solid none none none
	border-width 1pt
	border-color #000000

.ipografi
	display inline-block
	vertical-align top
	margin-top 10pt
	width 50%
	text-align center

.ipografiKatastasi
	margin-bottom 10pt

.ipografiKirosi
	display inline-block
	font-style italic
	border-style none none solid none
	border-width 1pt
	border-color #000000

.ipografiKirosi:before
	content 'Ελέγχθηκε και κυρώθηκε '

.ipografiAnamoni:before
	//content '\2733\0020ΑΝΑΜΕΝΕΤΑΙ ΕΛΕΓΧΟΣ & ΚΥΡΩΣΗ\0020\2733'
	content ''
	font-weight bold

.ipografiTitlos
	font-style italic

.ipografiOnomateponimo
	font-weight bold
