/*******************************************************************************
*
* @BEGIN
*
* @COPYRIGHT BEGIN
* Copyright (C) 2019 Panos I. Papadopoulos <panos1962_AT_gmail_DOT_com>
* @COPYRIGHT END
*
* @FILETYPE BEGIN
* stylus
* @FILETYPE END
*
* @FILE BEGIN
* www/prosopa/main.styl —— Αρχείο προδιαγραφών CSS για τη σελίδα
* επεξεργασίας παρουσιολογίου.
* @FILE END
*
* @HISTORY BEGIN
* Updated: 2020-04-26
* Created: 2020-04-24
* @HISTORY END
*
* @END
*
*******************************************************************************/

@import '../lib/letrakDebug.css'

.parousiaOrdinal
	background-color coral

.parousiaIpalilos
	background-color #5da5a5

.parousiaOnomateponimo
	background-color #dcdc61

.parousiaKarta
	background-color #ffc14d

.parousiaOrario
	background-color #68d6ad

.parousiaMeraora
	background-color #70bb70

.ipografi
	background-color aquamarine

.ipografiCandi
	background-color blue

.ipografiTaxinomisi
	background-color #5da5a5

.ipografiArmodios
	background-color coral

.ipografiOnomateponimo
	background-color #ffc14d

.ipografiTitlos
	background-color #dcdc61
