@page
	size A4 landscape

html
	background-color #ffffff !important

body
	font-family "Georgia", "Times New Roman", "Times", serif
	font-size 12pt
	background-color #ffffff !important

#ektiposi
	display block
	background-color #ffffff !important

.deltio
	padding 10pt

.deltioKodikos:before
	content 'Κωδικός'
	font-style italic

.parousiaWrapper
	border-style solid
	border-width 1pt
	border-color #000000

.parousia
	>div
		display inline-block
		padding 2pt 6pt

		white-space nowrap
		overflow hidden
		text-overflow ellipsis

		border-style none none none solid
		border-width 1pt
		border-color #000000

.parousiaOrdinal
	width 30pt
	text-align right

.parousiaIpalilos
	width 50pt
	text-align right

.parousiaOnomateponimo
	width 250pt
