/*******************************************************************************
*
* @BEGIN
*
* @COPYRIGHT BEGIN
* Copyright (C) 2019 Panos I. Papadopoulos <panos1962_AT_gmail_DOT_com>
* @COPYRIGHT END
*
* @FILETYPE BEGIN
* stylus
* @FILETYPE END
*
* @FILE BEGIN
* www/prosopa/main.styl —— Αρχείο προδιαγραφών CSS για τη σελίδα
* εμφάνισης διαφορών παρουσιολογίων.
* @FILE END
*
* @HISTORY BEGIN
* Updated: 2024-11-20
* Created: 2022-09-17
* @HISTORY END
*
* @END
*
*******************************************************************************/

@import '../lib/letrakDebug.css'

#deltioArea
	background-color #aebdd3

#apousiaArea
	background-color #00adff

.ipalilos
	background-color #e5e3b6
